.header {
  padding: 16px;
  background: #f3f3f3;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 32px;
  margin-bottom: 20px;
}
.link {
  all: unset;
  cursor: pointer;
  font-size: 18px;
  text-transform: uppercase;
  background-color: #fff;
  padding: 8px 18px;
  border-radius: 4px;
  transition: 0.3s ease-in-out;
}
.link.active {
  color: #fff;
  background: #0072bb;
}
